<!-- partials/error.ejs -->
<% if (locals.errors && errors.length > 0) { %>
    <ul class="form-errors">
        <% errors.forEach(function(error) { %>
            <li><%= error.msg %></li>
        <% }); %>
    </ul>
<% } %>