# This is an example .env file. Copy this to .env and fill in the values to use environment variables in your project.
DATABASE_PASSWORD="pwd" # Change this to your database password
DATABASE_NAME="messageboard" # Change this to the name of your new database name if required
DATABASE_USER="postgres"  # Change this to the name of your database role if required
DATABASE_HOST="localhost" # Change this if your database is hosted elsewhere
DATABASE_PORT=5432 # Change this if your database is running on a different port (default for PostgreSQL is 5432)